/* Set variables for sidebar widths and margins */
:root {
  --sidebery-retracted-width: 40px;
  --sidebery-extended-width: 16vw;
  --sidebery-extended-margin-correction: calc(
    (  var(--sidebery-extended-width)
     - var(--sidebery-retracted-width)
     ) * -1);
  --transparent-color: rgba(1, 1, 1, 0);
  --transition-duration: .2s;
  --transition-smoothing-function: ease-in-out;
}

#TabsToolbar { display: none !important; }
#nav-bar { width: 100vw !important; }

/* Extend sidebar normally, when not using SideBery. */
#sidebar-box:not([sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]) {
  min-width: var(--sidebery-extended-width) !important;
  max-width: none !important;
}

/* Retract sidebar, when using SideBery. */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
  min-width: var(--sidebery-retracted-width) !important;
  max-width: var(--sidebery-retracted-width) !important;

  /* Set explicit z-index, to enable sidebar displaying over app content. */
  z-index: 1;

  /* Margin zero, instead of auto, suppresses jittering. */
  margin-left: 0;
  margin-right: 0;

  /* Fix for sidebar closing on tab drop. */
  transition: all var(--transition-duration) var(--transition-smoothing-function);
}

/* Extend sidebar on hover, when using SideBery. */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover {
  min-width: var(--sidebery-extended-width) !important;
  max-width: var(--sidebery-extended-width) !important;

  /* Correct right-margin to keep page from being pushed to the side. */
  margin-right: var(--sidebery-extended-margin-correction);
  margin-left: 0;

  opacity: 0.8;

  /* Fix for sidebar closing on tab drop. */
  transition: all var(--transition-duration) var(--transition-smoothing-function);
}

/** Clean up unneeded stuff
 *
 * Hide native tab bar,
 * sidebar title, switcher arrow and splitter, when using SideBery.
 */

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-title,
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-switcher-arrow,
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-spacer,
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-throbber,
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-close,
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] + #sidebar-splitter {
  visibility: collapse;
}
