#sidebar-box #sidebar-title,
#sidebar-box #sidebar-switcher-arrow,
#sidebar-box #sidebar-spacer,
#sidebar-box #sidebar-throbber,
#sidebar-box #sidebar-close,
#sidebar-box + #sidebar-splitter {
  visibility: collapse;
}

#TabsToolbar {
  visibility: collapse;
}

#main-window[sizemode="maximized"] #content-deck {
  padding-top: 8px;
}
